@media only screen and (max-width: 990px) {
  .upper-nav {
    display: none;
  }

  .caption {
    font-size: 20px;
    font-weight: 500;
 /* Initially hide the captions */
}

.subcaption {
    font-size: 10px;
    font-weight: 400;
 /* Initially hide the captions */
}

.service-card-wrapper{
  border: 1px solid rgb(255, 247, 247);
  border-radius: 15px;
}
}


